.section-novedades{
    h2{
        font-size: 28px;
        text-align: center;
        color: #555;
        margin: 8px;
    }
    .novedades{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(3, 300px);
        grid-template-areas: 
        "item5 item5 item7"
        "item2 item3 item7"
        "item4 item1 item6"
        ;
        grid-gap: 10PX;
        padding: 13px;
        .item1{
            grid-area: item1;
            position: relative;
        }
        .item2{
            grid-area: item2;
            position: relative;
        }
        .item3{
            grid-area: item3;
            position: relative;
        }
        .item4{
            grid-area: item4;
            position: relative;
        }
        .item5{
            grid-area: item5;
            position: relative;
        }
        .item6{
            grid-area: item6;
            position: relative;
        }
        .item7{
            grid-area: item7;
            position: relative;
        }
        .img-item{
            height: 100%;
            width: 100%;
            object-fit: cover;
        }    
        .sub{
            position: absolute;
            margin: 0;
            bottom: 0;
            color: rgb(255, 255, 255);
            background: brown;
            width: 100%;
        }
    }
    @media screen and (max-width: 690px){
        .novedades{
            grid-template-columns: 1fr;
            grid-template-rows: 300px;
            grid-template-areas:
            "item5"
            "item7"
            "item2" 
            "item3"
            "item4" 
            "item1"
            "item6"
            ;
        }
    }
    
}